/* @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Sixtyfour+Convergence&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: linear-gradient(30deg, rgba(0, 0, 0, 0.8), rgba(109, 109, 109, 0.5), rgba(10, 10, 10, 0.8));
    min-height: 100vh;
}

header {
    display: flex;
    align-content: center;
}

h1,
h2 {
    font-family: sans-serif;
    color: gold;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 1rem;
    border-radius: 0 30px;
}

h2 {
    font-size: 1rem;
}

a {
    font-weight: 900;
    color: rgb(155, 47, 255);
}


.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    background-color: rgb(37, 37, 37);
}

.btn {
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: rgb(148, 148, 148);
    background: goldenrod;
    color: white;
}

.btn:hover {
    background-color: rgb(104, 88, 0);
    color: white;
}

.btn:active {
    background-color: black;
}

.btn-danger {
    background: rgb(143, 0, 0);
}


.form-label {
    color: goldenrod;
    font-family: 'BebasNeue';
    display: block;
    width: 100%;
    font-size: 20px;
}

textarea.form-control {
    height: 100px;
}

.form-control {
    font-family:  "Edu AU VIC WA NT Guides", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: 1px gray solid;
    border-radius: 5px;
}

.todolist-body {
    list-style: none;
    margin: 0;
    padding: 10px;
    background: whitesmoke;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.todolist-item {
    font-family:  "Edu AU VIC WA NT Guides", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    max-width: 40%;
    align-content: space-between;
}

.todolist-item-title {
    font-size: 30px;
}

.todolist-item>p {
    word-wrap: break-word;
}