* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: linear-gradient(30deg, rgba(0, 0, 0, 0.8), rgba(0, 189, 31, 0.5), rgb(0, 138, 0, 0.8));
    min-height: 100vh;
}

h1 {
    font-family: 'Sixtyfour-Convergence';
    width: 100%;
    position: relative;
    text-align: center;
    padding: 1rem;
    border-radius: 0 30px;
}


.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    background-color: aliceblue;
}

.btn {
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: rgb(148, 148, 148);
    background: rgb(97, 97, 97);
    color: white;
}

.btn:hover {
    background-color: rgb(56, 56, 56);
}

.btn:active {
    background-color: black;
}

.btn-danger {
    background: rgb(143, 0, 0);
}

.btn-warning {
    background: rgb(214, 164, 0);
    color: white;
}

.form-label {
    font-family: 'BebasNeue';
    display: block;
    width: 100%;
    font-size: 20px;
}

textarea.form-control {
    height: 100px;
}   

.form-control {
    font-family: 'Edu-Australia' ;
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: 1px gray solid;
    border-radius: 5px;
}

.todolist-body {
    list-style: none;
    margin: 0;
    padding: 10px;
    background: whitesmoke;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.todolist-item {
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    max-width: 40%;
    align-content: space-between;
}

.todolist-item-title {
    font-size: 30px;
}

.todolist-item > p {
    word-wrap: break-word;
}

